body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.box-row {
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    background: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.input-group label {
    display: block;
    font-weight: 400;
    color: #333;
    margin-bottom: 10px;
    font-size: 0.85em;
}

.input-group input[type="range"] {
    width: 80%;
    border-radius: 15px;
    background: #e1e1e1;
    outline: none;
    -webkit-appearance: none; 
    -moz-appearance: none;   
    appearance: none;         
}


.input-group input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: #4a4a4a;
    border-radius: 50%;
    cursor: pointer;
}

.input-group span {
    display: inline-block;
    width: 15%;
    text-align: right;
    font-weight: 400;
    color: #333;
}

.algorithm-buttons button,
.button-group button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    background: #e1e1e1;
    color: #333;
    font-weight: 400;
    transition: background 0.3s, color 0.3s;
}

.algorithm-buttons button:hover,
.button-group button:hover {
    background: #c7c7c7;
}

.process-status-box th,
.process-status-box td {
    font-size: 0.75em;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.process-queue {
    display: flex;
    align-items: center;
    margin-top: 20px;
    overflow-x: auto; /* Allows scrolling if the queue gets too long */
}

.results-box th,
.results-box th,
.presults-box td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    margin: auto;
}

.current-algorithm {
    font-size: 0.9em;
    color: #555;
    padding: 10px 15px;
    background: linear-gradient(to right, #f9f9f9, #e6e6e6);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-weight: 500;
    margin-bottom: 15px;
}

.current-algorithm label {
    color: #333;
    margin-right: 5px;
}

.process-card {
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Priority Gradient Color for Process Priority */
.priority-1 { background-color: #fafafa; }
.priority-2 { background-color: #f5f5f5; }
.priority-3 { background-color: #eeeeee; }
.priority-4 { background-color: #e0e0e0; }
.priority-5 { background-color: #bdbdbd; }
.priority-6 { background-color: #9e9e9e; }
.priority-7 { background-color: #757575; }
.priority-8 { background-color: #616161; }
.priority-9 { background-color: #424242; }
.priority-10 { background-color: #212121; }


.process-name {
    margin: 0;
    font-family: 'San Francisco', Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.priority-1 .process-name { color: #808080; }
.priority-2 .process-name { color: #8c8c8c; }
.priority-3 .process-name { color: #999999; }
.priority-4 .process-name { color: #a6a6a6; }
.priority-5 .process-name { color: #b3b3b3; }
.priority-6 .process-name { color: #bfbfbf; }
.priority-7 .process-name { color: #cccccc; }
.priority-8 .process-name { color: #d9d9d9; }
.priority-9 .process-name { color: #e6e6e6; }
.priority-10 .process-name { color: #ffffff; }


